<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/6bb3b904-3c91-47f8-891c-cda6d82cda02/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/bitcoinschool</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bitcoinschool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4a900e61-ac56-4b72-ab14-84c65c8d7a3e</ProjectGuid>
    <PublishUrl>https://bitcoinschool.scm.azurewebsites.net/</PublishUrl>
    <UserName>$bitcoinschool</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>