  <footer>
    <div class="container">
      <p>&copy; 2023 Aapo Katila. All rights reserved.</p>
      <ul>
        <RadzenLink Path="https://github.com/abola2" Text="Github" target="_blank">
          <RadzenImage Path="\Images\github-logo.png" Style="width: 3%">
          </RadzenImage>
        </RadzenLink>

        <RadzenLink Path="https://github.com/abola2/CryptoWebsite/" Text="Sourcecode" target="_blank">
          <RadzenImage Path="\Images\programming-code-signs.png" Style="width: 3%">
          </RadzenImage>
        </RadzenLink>
      </ul> 
    </div>
  </footer>





