@inherits LayoutComponentBase

<PageTitle>Bitcoin checker</PageTitle>

<div class="page">
    <Footer></Footer>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenDialog />
<RadzenNotification />
<RadzenContextMenu />
<RadzenTooltip />
<div class="page">
</div>


